:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-text-color-theme-dark: #ffffff;
  --primary-text-color-theme-light: #000000;
  --background--color-theme-dark: #2f303a;
  --text-accent: #2196f3;
  --modal-open-button-color: #188ce8;
  --portfolio-list-button: #f5f4fa;
  --page-header-border-color: #ececec;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-inline-start: 0px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border-width: 0;
}

address {
  font-style: normal;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--primary-text-color-theme-dark);
  border-bottom: 1px solid var(--page-header-border-color);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header-logo-and-navigation {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 93px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}

.logo-accent {
  color: var(--text-accent);
}

.menu {
  display: flex;
  column-gap: 50px;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--text-accent);
}

.current-page {
  color: var(--text-accent);
}

.header-contacts {
  display: flex;
  column-gap: 50px;
}

.header-contacts-link {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--text-accent);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  background-color: var(--background--color-theme-dark);
}

.hero-container {
  padding: 200px 0;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}

.modal-open-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 216px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--text-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 50px;
  width: 216px;
}

.modal-open-button:hover,
.modal-open-button:focus {
  background-color: var(--modal-open-button-color);
}

.advantages-list {
  display: flex;
  column-gap: 30px;
}

.advantages-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.advantages-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.main-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.projects {
  padding-top: 0px;
}

.projects-list {
  display: flex;
  column-gap: 30px;
}

.team {
  background-color: var(--portfolio-list-button);
}

.team-list {
  display: flex;
  column-gap: 30px;
}

.team-member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-name {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}

.team-list-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-list-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background--color-theme-dark);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}

.footer-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--text-accent);
}

.address-link {
  color: var(--primary-text-color-theme-dark);
}

.portfolio-link {
  color: var(--text-accent);
}
.portfolio-filter-list {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.portfolio-list-button {
  padding: 6px 22px;
  background: var(--portfolio-list-button);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-list-button:hover,
.portfolio-list-button:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-text-color-theme-dark);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list-item-border:not(border-top) {
  padding: 20px 24px;
  background: var(--primary-text-color-theme-dark);
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
