:root {
  --primary-font: 'Roboto', sans-serif;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --white: #ffffff;
  --ocean: #404bbf;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-inline-start: 0px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border-width: 0;
}

body {
  font-family: var(--primary-font);
  color: var(--navy-blue);
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--white);
  border-bottom: 1px solid var(--cornflower);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header-logo-and-navigation {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 76px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--navy-blue);
}

.logo-accent {
  color: var(--iris);
}

.menu {
  display: flex;
  column-gap: 40px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--iris);
}

.current-page {
  color: var(--iris);
}

.header-contacts {
  display: flex;
  column-gap: 40px;
}

.header-contacts-link {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--iris);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.hero {
  background-color: var(--navy-blue);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero_1.jpg);
  background-size: cover;
  max-width: 1440px;
  margin: auto;
}

.hero-container {
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.modal-open-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 169px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-open-button:hover,
.modal-open-button:focus {
  background: var(--ocean);
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cloud);
  width: 264px;
  height: 112px;
  padding: 24px 100px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.advantages-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.main-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.projects {
  padding-top: 0px;
}

.projects-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.team {
  background-color: var(--cloud);
}

.team-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
}

.team-member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-member-name {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  align-items: center;
}

.team-list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
}

.customers {
  padding-top: 130px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-list-item {
  height: 88px;
  padding: 16px 32px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
}

.page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--navy-blue);
}

.page-footer-container {
  display: flex;
  gap: 120px;
}

.logo-footer {
  display: block;
  margin-bottom: 16px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--cloud);
}

.slogan {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflower);
  width: 264px;
}

.footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer-social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.portfolio-section {
  padding-top: 96px;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-bottom: 72px;
}

.portfolio-list-button {
  padding: 12px 24px;
  background: var(--cornflower);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--iris);
}

.portfolio-list-button:hover,
.portfolio-list-button:focus {
  background: var(--ocean);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item:hover {
  border: 1px solid var(--cornflower);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item-border:not(border-top) {
  padding: 32px 16px;
  background: var(--white);
  border: 1px solid var(--cornflower);
  border-top: 0;
}

.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
